OUTDIR = '_data'

# diverting the temporary directory to avoid space shortage in shared /tmp
# set to None to write to default /tmp
import os
TMPDIR = os.path.join(os.environ['HOME'],'tmp')
# if the path you are setting doesn't exist, it will point to default /tmp
TMPDIR = TMPDIR if os.path.exists(TMPDIR) else '/tmp'

intrust = {
    'caseid_placeholder': '003_GNX_007',
    'dwied': '/data/pnl/INTRuST/003_GNX_007/diff/003_GNX_007-dwi-Ed.nhdr',
    'dwi': '/data/pnl/INTRuST/003_GNX_007/raw/003_GNX_007-dwi.nhdr',
    'dwiharm': '/data/pnl/INTRUST/003_GNX_007/diff/003_GNX_007_hmz_iter1.nhdr',
    't1': '/data/pnl/INTRuST/003_GNX_007/raw/003_GNX_007-t1w.nhdr',
    't2': '/data/pnl/INTRuST/003_GNX_007/raw/003_GNX_007-t2w.nhdr'
}
INPUT_KEYS = intrust

# every time you input a different std.params/epi.params, give the following a different name
# so you are able to compare summary across parameters
PROJECT_ALG_NAME = 'usrAlg '
